header{
    /* background-color: #ba2a5a; */
     background-image: url('../imgs/pexels-lumn-1028600.jpg');
    background-position: center;
    position: relative;
    margin: 0% ;
    padding: 0% ;
     background-repeat: no-repeat;
     background-size: cover;
    /* color:#d27737;  */
    font-weight: bold;
    /* box-sizing: border-box; */
    height:30vh; 
    
    
    
    }


    header h1{
        width:20%;
    }


    body{
        margin:0%;
        padding:0%;
    }

    #FivedayForecast{
        display: flex;
        flex-wrap:  wrap;

    }